<table>
  <thead>
  <th>Użytkownik</th>
  <th>Kontuzja</th>
  <th>Data kontuzji</th>
  <th>Źródło kontuzji
  <th>Szczegóły kontuzji</th>
  </thead>
<tbody>
@for (injury of injuries | async; track $index){
<tr>
<td>
{{injury.username}}
  </td>
  <td class="">
{{injury.nameOfInjury}}
  </td>
  <td class="">
{{injury.timeWhenInjuryHappen | date:"YYYY-MM-dd"}}
  </td>
  <td class="{{injury.source === 'training plan' ? 'training plan source' : ''  }}">
{{injury.source}}
  </td>
</tr>
}
</tbody>
</table>
